html, body, main {
    height: 100%;
    overflow: auto;
    color: $default-color;
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin: 25px auto;
}
ul, ol, li {
    list-style: none;
}
a {
    color: $active-color;
    text-decoration: none;
    &:hover {
        color: $highlight-color;
    }
}
img {
    display: block;
    max-width: 100%;
}
select {
    padding: 8px 18px 8px 8px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
