.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    position: relative;
    background: url(../../src/images/TechBG.jpg) no-repeat top center;
    background-size: cover;
    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        color: #ffffff;
        p {
            margin-bottom: 15px;
            font-size: 18px;
            @include tablet {
                font-size: 14px;
            }
        }
        &-wrap {
            position: absolute;
            top: 50%;
            left: 0;
            padding: 0 15px;
            transform: translate(0, -50%);
            color: #ffffff;
            text-align: center;
            @include desktop {
                text-align: left;
            }
        }
        &-title {
            margin-bottom: 15px;
            font-size: 3em;
            text-align: center;
            @include tablet {
                font-size: 5em;
                text-align: left;
            }
            @include desktop {
                font-size: 8em;
                text-align: left;
            }
        }
        &-desc {
            display: none;
            @include tablet {
                display: block;
            }
            @include desktop {
                display: block;
            }
        }
        @include tablet {
            align-items: normal;
        }
        @include desktop {
            align-items: normal;
        }
    }
    @include tablet {
        height: 380px;
    }
    @include desktop {
        height: 500px;
    }
}
