.featured {
    padding: 30px 0;
    &__list {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }
    &__item {
        display: flex;
        margin-bottom: 30px;
        & > * {
            flex: 1 1 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-imgwrap {
            position: relative;
            img {
                display: block;
            }
            &:hover {
                .featured__item-socials {
                    display: block;
                }
            }
        }
        &-socials {
            display: none;
            position: absolute;
            bottom: 20px;
            left: 20px;
        }
        &-social {
            display: block;
            width: 50px;
            height: 50px;
            float: left;
            text-indent: -9999px;
            background: url(../../src/images/socials-sprite2.png);
            .social--facebook {
                background-position: 0 50px;
            }
            .social--facebook:hover,
            .social--facebook:focus {
                background-position: 0 100px;
            }
            .social--twitter {
                background-position: 150px 50px;
            }
            .social--twitter:hover,
            .social--twitter:focus {
                background-position: 151px 100px;
            }
            .social--youtube {
                background-position: 50px 50px;
            }
            .social--youtube:hover,
            .social--youtube:focus {
                background-position: 50px 100px;
            }
            .social--pinterest {
                background-position: 302px 50px;
            }
            .social--pinterest:hover,
            .social--pinterest:focus {
                background-position: 302px 100px;
            }
        }
        &-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px 20px;
            h1 {
                margin-bottom: 10px;
                font-size: 32px;
                font-weight: 700;
                text-transform: capitalize;
            }
            p {
                color: rgba(0, 0, 0, 0.3);
            }
            &-category {
                margin-bottom: 15px;
                text-transform: uppercase;
            }
            &-posted {
                font-size: 14px;
            }
            &-quote {
                position: relative;
                margin: 0;
                padding: 18px 28px;
                color: #333;
                text-align: justify;
                &::before,
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 15px;
                    width: 15px;
                    height: 10px;
                }
                &::before {
                    left: 5px;
                    background: url(../../src/images/quote1_resized.png);
                    background-size: cover;
                }
                &::after {
                    right: 5px;
                    background: url(../../src/images/quote1_resized_reversed.png);
                    background-size: cover;
                }
            }
        }
    }
}
