/* Footer */
footer {
    margin-top: auto;
	padding: 10px;
	background-color: #061a40;
}
.footer-nav {
    background: none;
}
.footer-nav{
    &__menu {
        text-align: center;
    }
    &__menu-item {
        display: inline;
        margin: 0 5px;
        a {
            color: #b9d6f2;
            font-size: 12px;
        }
    }
}
