.posts {
    padding: 25px 0px;
    &__options {
        padding: 0 15px;
        margin-bottom: 15px;

        select {
            width: 100%;
            margin: 0 0 15px;

            &:last-child {
                margin-bottom: 0;
            }
            @include tablet {
                width: auto;
                margin: 0 15px 0 0;
            }
            @include desktop {
                width: auto;
                margin: 0 15px 0 0;
            }
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 15px;

        &-item {
            flex: 0 0 100%;
            margin-bottom: 15px;
            padding: 10px;
            background: #f7f7f7;

            a {
                display: block;
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
            }
            p {
                font-size: 14px;
            }
            @include tablet {
                flex: 0 0 49%;
            }
            @include desktop {
                flex: 0 0 32%;
            }
        }
    }
}

.post {
    &__banner {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 500px;
        max-height: 500px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}
